{% extends "base.html" %}
{% block content %}
<div class="login-body">



<!-- Nav Bar -->
<div class="topnav">
  
  <div class="brand">
    <a href="#hero">
      <h1><span>C</span>rossword<span>P</span>uzzle</h1>
    </a>
  </div>
  
  <div class="link">
  <a href="#about">About</a>
  <a class="active" href="#home">Home</a>
</div>
</div>
<div class="photo1">
  <img src="{{ url_for('static', filename='b5.jpg') }}" /></div>

  
    <div class="container">
     
    
      <!-- Hero Section  -->
  <section id="hero">
    <div class="all"> 




    <div class="hero container">

      <div>
        <h1>Hello, <span></span></h1>
        <h1>Welcome to <span></span></h1>
        <h1>Crossword Puzzle <span></span></h1>





        <!-- <a href="#projects" type="button" class="cta">Portfolio</a> -->
      </div>
    </div>
    </div>
  </section>
  <!-- End Hero Section  -->
  <div class="login-form">
    <h2>Register</h2>
    <form method="post" class= "login-form1" action="{{ url_for('register') }}">
      <div class="input-group">
        <input type="text" id="username" name="username" required>
        <label for="username">Username</label>
      </div>

      <div class="input-group">
        <input type="password" id="password" name="password" required>
        <label for="password">Password</label>
      </div>

      <button type="submit">Register</button>

      <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </form>
  </div>
</div>
</div>
</div>

    
      
{% endblock %}




